<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <iframe width="800" height="1000" src="https://embed.figma.com/proto/0HWO0KeTPRSWFqPFsiozAp/3%ED%8C%80-%EC%95%B1%EB%94%94%EC%9E%90%EC%9D%B8-%EB%B8%8C%EB%A3%A8%EB%8B%A4%EC%BB%A4%ED%94%BC?node-id=4-2&p=f&viewport=439%2C435%2C0.11&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=4%3A59&page-id=0%3A1&embed-host=share&hide-ui=1" allowfullscreen></iframe>
</body>
</html>